.grid-container{
    width: 100%;
    text-align: center;
}
#grid-container{
    padding-top: 50px;
    width: auto;
    max-width: 1140px;
}
.dt-sc-sorting-container a:hover,.dt-sc-sorting-container a.active-sort{
    color: #fff;
    background: #19a9e5;
}
.dt-sc-sorting-container a:hover{
    border-color: #19a9e5;
}

.dt-sc-sorting-container {clear:both; width:100%; margin:0px; padding:0px; border-left:0px; line-height:normal; height:40px; display:inline-table; text-align:center; font-style:italic; }
.dt-sc-sorting-container a { border: 1px solid #ededed; color: #878787; cursor: pointer; font-size: 14px; font-weight: normal; line-height: normal; margin-right:5px; padding: 15px 18px; position: relative;
    transition: all 0.3s ease 0s;  z-index: 1; outline:none; display:inline-block; border-radius: 3px; }
.dt-sc-sorting-container a:last-child { border-left:1px solid #ededed; }

.main-title{
    text-align: center;
    padding: 50px 0;
}
.main-title:after{
    width: 100px;
    height: 1px;
    position: absolute;
    bottom: 80px;
    right: 0;
    left: 0;
    content: "";
    float: none;
    text-align: center;
    display: inline-block;
    margin: 0px auto;
}
.main-title p:before, .main-title p:after,{
    color: #19a9e5;
}
.main-title h2{
    position: relative;
    border-color: #19a9e5;
    text-transform: uppercase;
    display: inline-block;
    float: none;
    line-height: 50px;
    font-size: 50px;
}
.aligncenter{
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cbp-caption{
    background-color: #282727;
}